config:
  description: Grafana, Prometheus and friends

apps:
- name: kube-prometheus-stack
  repoURL: https://prometheus-community.github.io/helm-charts
  chart: kube-prometheus-stack
  targetRevision: 59.1.0
  secrets:
    - name: grafana
      keys:
        - admin-password
        - admin-user
  helm:
    skipCrds: true

- name: kube-prometheus-crds
  repoURL: https://github.com/prometheus-community/helm-charts.git
  path: charts/kube-prometheus-stack/crds/
  targetRevision: kube-prometheus-stack-46.8.0
  directory:
    recurse: true
  syncPolicy:
    syncOptions:
      - Replace=true

- name: loki-stack
  repoURL: https://grafana.github.io/helm-charts
  chart: loki-stack
  targetRevision: 2.10.2
