loki:
  enabled: true
  image:
    repository: grafana/loki
    tag: 3.5.4

promtail:
  enabled: true

fluent-bit:
  enabled: true
  # image:
  #   repository: grafana/fluent-bit-plugin-loki
  #   tag: 2.9.4-amd64

grafana:
  enabled: false

prometheus:
  enabled: false
