additionalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
  # Redirect http to https
  - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
  - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
  - "--entryPoints.websecure.http.tls=true"
  # ACME
  - "--certificatesresolvers.le.acme.email=nold-spam@pm.me"
  - "--certificatesresolvers.le.acme.storage=/data/acme.json"
  - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
  # CrowdSec
  - "--entrypoints.web.http.middlewares=crowdsec-crowdsec-bouncer@kubernetescrd"
  - "--entrypoints.websecure.http.middlewares=crowdsec-crowdsec-bouncer@kubernetescrd"

experimental:
  plugins:
    crowdsec-bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: v1.4.7

# To download plugins
env:
  - name: HTTP_PROXY
    value: http://proxy-squid.proxy.svc.cluster.local:3128
  - name: HTTPS_PROXY
    value: http://proxy-squid.proxy.svc.cluster.local:3128

ingressClass:
  enabled: true
  isDefaultClass: false
  name: "ingress-external"

providers:
  kubernetesCRD:
    enabled: true
    #ingressClass: external

  kubernetesIngress:
    labelSelector: environment=external
    ingressClass: ingress-external
    namespaces:
    - ingress-external
    - nextcloud
    - gitea
    - woodpecker

    publishedService:
      enabled: true

ports:
  # web:
  #   redirectTo: websecure
  websecure:
    tls:
      enabled: true

globalArguments: []

ingressRoute:
  dashboard:
    enabled: false

persistence:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: external
  externalIPs:
  - 192.168.1.12

logs:
  general:
    level: DEBUG