additionalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
  # Redirect http to https
  - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
  - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
  - "--entryPoints.websecure.http.tls=true"
  # ACME
  - "--certificatesresolvers.le.acme.email=nold-spam@pm.me"
  - "--certificatesresolvers.le.acme.storage=/data/acme.json"
  - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
  - "--providers.kubernetesCRD.allowCrossNamespace=true"

experimental:
  plugins:
    crowdsec-bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: v1.4.7

# To download plugins
env:
  - name: HTTP_PROXY
    value: http://proxy-squid.proxy.svc.cluster.local:3128
  - name: HTTPS_PROXY
    value: http://proxy-squid.proxy.svc.cluster.local:3128
  - name: NO_PROXY
    value: localhost,127.0.0.1,.cluster.local,10.0.0.0/8

ingressClass:
  enabled: true
  isDefaultClass: false
  name: "ingress-external"

providers:
  kubernetesCRD:
    enabled: true

  kubernetesIngress:
    #labelSelector: environment=external
    ingressClass: ingress-external
    namespaces:
    - ingress-external
    - nextcloud
    - forgejo
    - woodpecker

    publishedService:
      enabled: true

ports:
  # web:
  #   redirectTo: websecure
  websecure:
    tls:
      enabled: true
    middlewares:
      - ingress-external-crowdsec@kubernetescrd
    
    forwardedHeaders:
      trustedIPs:
        - 10.0.0.0/8
        - 192.168.0.0/16
        - 127.0.0.0/8
        # CF
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22

globalArguments: []

ingressRoute:
  dashboard:
    enabled: false

api:
  dashboard: true

persistence:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: external
  externalIPs:
  - 192.168.1.12

logs:
  general:
    level: DEBUG
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultmode: keep
