# apiVersion: networking.k8s.io/v1
# kind: NetworkPolicy
# metadata:
#   name: allow-external-only
#   namespace: ingress-external
# spec:
#   podSelector: {}
#   policyTypes:
#   - Egress
#   egress:
#   - to:
#     - namespaceSelector:
#         matchLabels:
#           environment: external
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-crowdsec
  namespace: ingress-external
spec:
  podSelector: {}
  policyTypes:
  - Egress
  egress:
  - ports:
      - port: 8080
        protocol: TCP
    to:
    - namespaceSelector:
        matchLabels:
          app.heqet.gnu.one/project: crowdsec