additionalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
  # Redirect http to https
  - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
  - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
  - "--entryPoints.websecure.http.tls=true"

service:
  annotations:
    metallb.universe.tf/address-pool: internal
  externalIPs:
    - 192.168.1.11

ingressClass:
  enabled: true
  isDefaultClass: true
  name: "ingress-internal"

providers:
  kubernetesIngress:
    ingressClass: "ingress-internal"

  # kubernetesIngressNginx:
  #   enabled: true
  #   ingressClass: "ingress-internal"
  #   watchIngressWithoutClass: true

logs:
  general:
    level: DEBUG

# ports:
#   web:
#     nodePort: 80
#   websecure:
#     nodePort: 443
